In [1]:
import pandas as pd
import cv2
import os

In [2]:
# 경로 설정

data_path = '/workspace/#Ub370#Uc774#Ud130/Data'

img_path_train = '/workspace/#Ub370#Uc774#Ud130/Data/img/train/'
img_path_val = '/workspace/#Ub370#Uc774#Ud130/Data/img/val/'

json_path_train = '/workspace/#Ub370#Uc774#Ud130/Data/label/train/'
json_path_val = '/workspace/#Ub370#Uc774#Ud130/Data/label/val/'

segment_path_train = '/workspace/#Ub370#Uc774#Ud130/Data/segmentation/train/'
segment_path_val = '/workspace/#Ub370#Uc774#Ud130/Data/segmentation/val/'


img_path_train_anger = img_path_train + 'anger/'
img_path_val_anger = img_path_val + 'anger/'

img_path_train_happy = img_path_train + 'happy/'
img_path_val_happy = img_path_val + 'happy/'

img_path_train_panic = img_path_train + 'panic/'
img_path_val_panic = img_path_val + 'panic/'

img_path_train_sadness = img_path_train + 'sadness/'
img_path_val_sadness = img_path_val + 'sadness/'

In [3]:
df_train_anger = pd.read_csv(json_path_train + 'train_anger.csv')
df_val_anger = pd.read_csv (json_path_val + 'val_anger.csv')

df_train_happy = pd.read_csv(json_path_train + 'train_happy.csv')
df_val_happy = pd.read_csv (json_path_val + 'val_happy.csv')

df_train_panic = pd.read_csv(json_path_train + 'train_panic.csv')
df_val_panic = pd.read_csv (json_path_val + 'val_panic.csv')

df_train_sadness = pd.read_csv(json_path_train + 'train_sadness.csv')
df_val_sadness = pd.read_csv (json_path_val + 'val_sadness.csv')

In [4]:
# 이미지 크기와 바운딩 박스 비교
def check_bounding_boxes_with_coords(df, image_folder):
    results = []

    for _, row in df.iterrows():      
        file_name = row['filename']     
        img_path = os.path.join(image_folder, file_name)

        # OpenCV로 이미지 로드
        image = cv2.imread(img_path)
        if image is None:
            print(f"Error loading {img_path}")
            continue

        # 이미지 크기 가져오기
        img_height, img_width, _ = image.shape

        # 각 바운딩 박스(A, B, C, avg)의 좌표 리스트
        x_coords = [row['annot_A.boxes.minX'], row['annot_B.boxes.minX'], row['annot_C.boxes.minX'], row['avg_box.minX']]
        y_coords = [row['annot_A.boxes.minY'], row['annot_B.boxes.minY'], row['annot_C.boxes.minY'], row['avg_box.minY']]
        x_max_coords = [row['annot_A.boxes.maxX'], row['annot_B.boxes.maxX'], row['annot_C.boxes.maxX'], row['avg_box.maxX']]
        y_max_coords = [row['annot_A.boxes.maxY'], row['annot_B.boxes.maxY'], row['annot_C.boxes.maxY'], row['avg_box.maxY']]

        # 박스별로 경계 확인
        for i, box_type in enumerate(['A', 'B', 'C', 'avg']):
            x_min, y_min = x_coords[i], y_coords[i]
            x_max, y_max = x_max_coords[i], y_max_coords[i]

            # 경계를 벗어나는지 확인
            if x_min < 0 or y_min < 0 or x_max > img_width or y_max > img_height:
                results.append({
                    'filename': row['filename'],
                    'box_type': box_type,
                    'x_min': x_min,
                    'y_min': y_min,
                    'x_max': x_max,
                    'y_max': y_max,
                    'image_width': img_width,
                    'image_height': img_height,
                })

    return pd.DataFrame(results)

In [5]:
# Check
bounding_box_issues_train_anger = check_bounding_boxes_with_coords(df_train_anger, img_path_train_anger)
bounding_box_issues_val_anger = check_bounding_boxes_with_coords(df_val_anger, img_path_val_anger)

bounding_box_issues_train_happy = check_bounding_boxes_with_coords(df_train_happy, img_path_train_happy)
bounding_box_issues_val_happy = check_bounding_boxes_with_coords(df_val_happy, img_path_val_happy)

bounding_box_issues_train_panic = check_bounding_boxes_with_coords(df_train_panic, img_path_train_panic)
bounding_box_issues_val_panic = check_bounding_boxes_with_coords(df_val_panic, img_path_val_panic)

bounding_box_issues_train_sadness = check_bounding_boxes_with_coords(df_train_sadness, img_path_train_sadness)
bounding_box_issues_val_sadness = check_bounding_boxes_with_coords(df_val_sadness, img_path_val_sadness)

Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG
Invalid SOS parameters for sequential JPEG

In [20]:
df_train_anger.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   filename            1500 non-null   object
 1   faceExp_uploader    1500 non-null   object
 2   annot_A.boxes.maxX  1500 non-null   float64
 3   annot_A.boxes.maxY  1500 non-null   float64
 4   annot_A.boxes.minX  1500 non-null   float64
 5   annot_A.boxes.minY  1500 non-null   float64
 6   annot_B.boxes.maxX  1500 non-null   float64
 7   annot_B.boxes.maxY  1500 non-null   float64
 8   annot_B.boxes.minX  1500 non-null   float64
 9   annot_B.boxes.minY  1500 non-null   float64
 10  annot_C.boxes.maxX  1500 non-null   float64
 11  annot_C.boxes.maxY  1500 non-null   float64
 12  annot_C.boxes.minX  1500 non-null   float64
 13  annot_C.boxes.minY  1500 non-null   float64
 14  avg_box.maxX        1500 non-null   float64
 15  avg_box.maxY        1500 non-null   float64
 16  avg_box.minX        1500 non-null   float64
 17  avg_box.minY        1500 non-null   float64
dtypes: float64(16), object(2)
memory usage: 211.1+ KB

In [6]:
bounding_box_issues_train_anger

,filename,box_type,x_min,y_min,x_max,y_max,image_width,image_height
0,9rzj2ff6822f42cef0544243362f0f4f2e08fdffff9a74...,A,872.514877,-204.080196,1500.189177,669.503384,3264,1504
1,9rzj2ff6822f42cef0544243362f0f4f2e08fdffff9a74...,B,870.178877,-204.783196,1492.322177,677.206384,3264,1504
2,9rzj2ff6822f42cef0544243362f0f4f2e08fdffff9a74...,C,868.073877,-218.876196,1493.264177,672.315384,3264,1504
3,9rzj2ff6822f42cef0544243362f0f4f2e08fdffff9a74...,avg,870.255877,-209.246529,1495.258510,673.008384,3264,1504
4,0hee6d13b154caa765569e2307f0c1b16e7fe9f072eef1...,A,1035.815000,211.972460,1966.457500,1472.000000,3264,1472
5,0hee6d13b154caa765569e2307f0c1b16e7fe9f072eef1...,C,1035.815000,211.972460,1966.457500,1472.000000,3264,1472
6,br810daccfda5c78d9119189c2767db0d19290f2a6166a...,A,998.618554,-86.530990,1580.603104,703.987436,1920,1440
7,br810daccfda5c78d9119189c2767db0d19290f2a6166a...,B,1004.626554,-81.759990,1587.755105,709.520436,1920,1440
8,br810daccfda5c78d9119189c2767db0d19290f2a6166a...,C,1001.245555,-79.740990,1582.130105,715.683436,1920,1440
9,br810daccfda5c78d9119189c2767db0d19290f2a6166a...,avg,1001.496888,-82.677324,1583.496105,709.730436,1920,1440
10,u84fc812c2428dbc828fe0b182e284c884b734ef410fd1...,C,458.398220,672.362370,1351.759000,1737.000000,3088,1737

In [19]:
bounding_box_issues_train_anger['filename'][0]

'9rzj2ff6822f42cef0544243362f0f4f2e08fdffff9a7498469084ccffa11c8gi.jpg'

In [24]:
bounding_box_issues_train_anger['filename'][6]

'br810daccfda5c78d9119189c2767db0d19290f2a6166af257307a1fa7b6bflyz.jpg'

In [7]:
bounding_box_issues_val_anger

,filename,box_type,x_min,y_min,x_max,y_max,image_width,image_height
0,xelqc69f6c79716cc916f1fc0389b3f18193c9d4c38f6f...,B,2101.022,777.5014,2944.0,1852.0132,2944,2208

In [8]:
bounding_box_issues_train_happy

,filename,box_type,x_min,y_min,x_max,y_max,image_width,image_height
0,kt9m9fb4af0ddb719b11f370e5cbfd0b4f853a5ab17ba9...,A,1047.758000,152.945710,2087.148200,1472.000000,3264,1472
1,fkzb60703b9f755bbb68c9ade919296970173102f470ca...,A,1061.287800,166.434720,2026.687500,1472.000000,3264,1472
2,fkzb60703b9f755bbb68c9ade919296970173102f470ca...,C,1061.287800,166.434720,2026.687500,1472.000000,3264,1472
3,341zcc976a81d9d8391dbdc967042a4977d9c594b924ad...,A,257.711377,-20.929709,965.926647,861.093359,2608,1204
4,341zcc976a81d9d8391dbdc967042a4977d9c594b924ad...,B,265.313377,-20.468709,966.536647,851.204359,2608,1204
5,341zcc976a81d9d8391dbdc967042a4977d9c594b924ad...,C,261.228377,-36.482709,962.172647,857.736359,2608,1204
6,341zcc976a81d9d8391dbdc967042a4977d9c594b924ad...,avg,261.417711,-25.960375,964.878647,856.678026,2608,1204

In [25]:
bounding_box_issues_train_happy['filename'][3]

'341zcc976a81d9d8391dbdc967042a4977d9c594b924adacd11d0b3b0b611z22y.jpg'

In [10]:
bounding_box_issues_val_happy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Empty DataFrame

In [11]:
bounding_box_issues_train_panic

,filename,box_type,x_min,y_min,x_max,y_max,image_width,image_height
0,4hym2e606d89fcf887b29e7b8b3ebfcc626c8fcf821782...,A,-27.366287,465.803363,863.352760,1579.754063,3088,2320
1,4hym2e606d89fcf887b29e7b8b3ebfcc626c8fcf821782...,B,-29.669287,461.052363,863.923760,1591.197063,3088,2320
2,4hym2e606d89fcf887b29e7b8b3ebfcc626c8fcf821782...,C,-23.264287,462.615363,866.539760,1585.717063,3088,2320
3,4hym2e606d89fcf887b29e7b8b3ebfcc626c8fcf821782...,avg,-26.766621,463.157030,864.605426,1585.556063,3088,2320
4,esc02c9459e7bbfb0c0afc0b21a0cc50bb2b74f2ac9272...,A,737.967057,233.338616,1539.645357,1391.179016,2640,1288
5,esc02c9459e7bbfb0c0afc0b21a0cc50bb2b74f2ac9272...,B,738.873057,225.601616,1537.744357,1391.200016,2640,1288
6,esc02c9459e7bbfb0c0afc0b21a0cc50bb2b74f2ac9272...,C,740.159057,217.289616,1532.809357,1388.531016,2640,1288
7,esc02c9459e7bbfb0c0afc0b21a0cc50bb2b74f2ac9272...,avg,738.999724,225.409949,1536.733024,1390.303349,2640,1288
8,iysgef1ecd1297c67d58c59c01349b83ed084c0cca35a9...,C,283.318809,-0.334611,1001.111909,956.975469,2608,1204

In [26]:
bounding_box_issues_train_panic['filename'][0]

'4hym2e606d89fcf887b29e7b8b3ebfcc626c8fcf821782f6e5ffee5416c75qzrf.jpg'

In [27]:
bounding_box_issues_train_panic['filename'][5]

'esc02c9459e7bbfb0c0afc0b21a0cc50bb2b74f2ac92720d024027914a435amp0.jpg'

In [28]:
bounding_box_issues_train_panic['filename'][8]

'iysgef1ecd1297c67d58c59c01349b83ed084c0cca35a9a8d8d57ed73a49d29gu.jpg'

In [13]:
bounding_box_issues_val_panic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Empty DataFrame

In [14]:
bounding_box_issues_train_sadness

,filename,box_type,x_min,y_min,x_max,y_max,image_width,image_height
0,vk2ucc6e73f677af512687da151368a6cfd5856f268b7b...,A,1363.391609,207.800570,2475.517709,1735.107610,3216,1528
1,vk2ucc6e73f677af512687da151368a6cfd5856f268b7b...,B,1363.956609,222.633570,2480.320709,1740.086610,3216,1528
2,vk2ucc6e73f677af512687da151368a6cfd5856f268b7b...,C,1360.958609,204.998570,2475.284709,1719.715610,3216,1528
3,vk2ucc6e73f677af512687da151368a6cfd5856f268b7b...,avg,1362.768942,211.810903,2477.041042,1731.636610,3216,1528
4,vag7dfda5e3b9561fd12c1175d277b1d2c1f22dd2a5d37...,A,0.647463,-100.632774,363.189153,384.818586,1440,1080
5,vag7dfda5e3b9561fd12c1175d277b1d2c1f22dd2a5d37...,B,-3.404537,-108.095774,358.857153,390.153586,1440,1080
6,vag7dfda5e3b9561fd12c1175d277b1d2c1f22dd2a5d37...,C,-2.741537,-102.393774,361.199153,386.673586,1440,1080
7,vag7dfda5e3b9561fd12c1175d277b1d2c1f22dd2a5d37...,avg,-1.832870,-103.707440,361.081820,387.215253,1440,1080

In [29]:
bounding_box_issues_train_sadness['filename'][0]

'vk2ucc6e73f677af512687da151368a6cfd5856f268b7bc8676677b48ff693lpf.jpg'

In [30]:
bounding_box_issues_train_sadness['filename'][4]

'vag7dfda5e3b9561fd12c1175d277b1d2c1f22dd2a5d37b3286dd4b3e2d45pili.jpg'

In [16]:
bounding_box_issues_val_sadness

,filename,box_type,x_min,y_min,x_max,y_max,image_width,image_height
0,bu0rff5d50988270549905c4f5b4857ac27a55d1c5aaf1...,B,2254.4194,172.30028,3088.0,1265.1233,3088,2320

### 데이터 수정

In [31]:
df_train_anger = pd.read_csv(json_path_train + 'train_anger.csv')
df_train_happy = pd.read_csv(json_path_train + 'train_happy.csv')
df_train_panic = pd.read_csv(json_path_train + 'train_panic.csv')
df_train_sadness = pd.read_csv(json_path_train + 'train_sadness.csv')

In [32]:
df_train_anger.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   filename            1500 non-null   object
 1   faceExp_uploader    1500 non-null   object
 2   annot_A.boxes.maxX  1500 non-null   float64
 3   annot_A.boxes.maxY  1500 non-null   float64
 4   annot_A.boxes.minX  1500 non-null   float64
 5   annot_A.boxes.minY  1500 non-null   float64
 6   annot_B.boxes.maxX  1500 non-null   float64
 7   annot_B.boxes.maxY  1500 non-null   float64
 8   annot_B.boxes.minX  1500 non-null   float64
 9   annot_B.boxes.minY  1500 non-null   float64
 10  annot_C.boxes.maxX  1500 non-null   float64
 11  annot_C.boxes.maxY  1500 non-null   float64
 12  annot_C.boxes.minX  1500 non-null   float64
 13  annot_C.boxes.minY  1500 non-null   float64
 14  avg_box.maxX        1500 non-null   float64
 15  avg_box.maxY        1500 non-null   float64
 16  avg_box.minX        1500 non-null   float64
 17  avg_box.minY        1500 non-null   float64
dtypes: float64(16), object(2)
memory usage: 211.1+ KB

In [33]:
targer_filename_1 = '9rzj2ff6822f42cef0544243362f0f4f2e08fdffff9a7498469084ccffa11c8gi.jpg'
df_train_anger.loc[df_train_anger['filename'] == targer_filename_1, ['annot_A.boxes.minY','annot_B.boxes.minY', 'annot_C.boxes.minY', 'avg_box.minY']] = 0

df_train_anger[df_train_anger['filename'] == targer_filename_1]

,filename,faceExp_uploader,annot_A.boxes.maxX,annot_A.boxes.maxY,annot_A.boxes.minX,annot_A.boxes.minY,annot_B.boxes.maxX,annot_B.boxes.maxY,annot_B.boxes.minX,annot_B.boxes.minY,annot_C.boxes.maxX,annot_C.boxes.maxY,annot_C.boxes.minX,annot_C.boxes.minY,avg_box.maxX,avg_box.maxY,avg_box.minX,avg_box.minY
125,9rzj2ff6822f42cef0544243362f0f4f2e08fdffff9a74...,분노,1500.189177,669.503384,872.514877,0.0,1492.322177,677.206384,870.178877,0.0,1493.264177,672.315384,868.073877,0.0,1495.25851,673.008384,870.255877,0.0

In [35]:
targer_filename_2 = 'br810daccfda5c78d9119189c2767db0d19290f2a6166af257307a1fa7b6bflyz.jpg'

df_train_anger[df_train_anger['filename'] == targer_filename_2]

,filename,faceExp_uploader,annot_A.boxes.maxX,annot_A.boxes.maxY,annot_A.boxes.minX,annot_A.boxes.minY,annot_B.boxes.maxX,annot_B.boxes.maxY,annot_B.boxes.minX,annot_B.boxes.minY,annot_C.boxes.maxX,annot_C.boxes.maxY,annot_C.boxes.minX,annot_C.boxes.minY,avg_box.maxX,avg_box.maxY,avg_box.minX,avg_box.minY
1119,br810daccfda5c78d9119189c2767db0d19290f2a6166a...,분노,1580.603104,703.987436,998.618554,-86.53099,1587.755105,709.520436,1004.626554,-81.75999,1582.130105,715.683436,1001.245555,-79.74099,1583.496105,709.730436,1001.496888,-82.677324

In [36]:
df_train_anger.loc[df_train_anger['filename'] == targer_filename_2, ['annot_A.boxes.minY','annot_B.boxes.minY', 'annot_C.boxes.minY', 'avg_box.minY']] = 0

df_train_anger[df_train_anger['filename'] == targer_filename_2]

,filename,faceExp_uploader,annot_A.boxes.maxX,annot_A.boxes.maxY,annot_A.boxes.minX,annot_A.boxes.minY,annot_B.boxes.maxX,annot_B.boxes.maxY,annot_B.boxes.minX,annot_B.boxes.minY,annot_C.boxes.maxX,annot_C.boxes.maxY,annot_C.boxes.minX,annot_C.boxes.minY,avg_box.maxX,avg_box.maxY,avg_box.minX,avg_box.minY
1119,br810daccfda5c78d9119189c2767db0d19290f2a6166a...,분노,1580.603104,703.987436,998.618554,0.0,1587.755105,709.520436,1004.626554,0.0,1582.130105,715.683436,1001.245555,0.0,1583.496105,709.730436,1001.496888,0.0

In [37]:
targer_filename_3 = '341zcc976a81d9d8391dbdc967042a4977d9c594b924adacd11d0b3b0b611z22y.jpg'

df_train_happy[df_train_happy['filename'] == targer_filename_3]

,filename,faceExp_uploader,annot_A.boxes.maxX,annot_A.boxes.maxY,annot_A.boxes.minX,annot_A.boxes.minY,annot_B.boxes.maxX,annot_B.boxes.maxY,annot_B.boxes.minX,annot_B.boxes.minY,annot_C.boxes.maxX,annot_C.boxes.maxY,annot_C.boxes.minX,annot_C.boxes.minY,avg_box.maxX,avg_box.maxY,avg_box.minX,avg_box.minY
189,341zcc976a81d9d8391dbdc967042a4977d9c594b924ad...,기쁨,965.926647,861.093359,257.711377,-20.929709,966.536647,851.204359,265.313377,-20.468709,962.172647,857.736359,261.228377,-36.482709,964.878647,856.678026,261.417711,-25.960375

In [38]:
df_train_happy.loc[df_train_happy['filename'] == targer_filename_3, ['annot_A.boxes.minY','annot_B.boxes.minY', 'annot_C.boxes.minY', 'avg_box.minY']] = 0

df_train_happy[df_train_happy['filename'] == targer_filename_3]

,filename,faceExp_uploader,annot_A.boxes.maxX,annot_A.boxes.maxY,annot_A.boxes.minX,annot_A.boxes.minY,annot_B.boxes.maxX,annot_B.boxes.maxY,annot_B.boxes.minX,annot_B.boxes.minY,annot_C.boxes.maxX,annot_C.boxes.maxY,annot_C.boxes.minX,annot_C.boxes.minY,avg_box.maxX,avg_box.maxY,avg_box.minX,avg_box.minY
189,341zcc976a81d9d8391dbdc967042a4977d9c594b924ad...,기쁨,965.926647,861.093359,257.711377,0.0,966.536647,851.204359,265.313377,0.0,962.172647,857.736359,261.228377,0.0,964.878647,856.678026,261.417711,0.0

In [39]:
targer_filename_4 = '4hym2e606d89fcf887b29e7b8b3ebfcc626c8fcf821782f6e5ffee5416c75qzrf.jpg'

df_train_panic[df_train_panic['filename'] == targer_filename_4]

,filename,faceExp_uploader,annot_A.boxes.maxX,annot_A.boxes.maxY,annot_A.boxes.minX,annot_A.boxes.minY,annot_B.boxes.maxX,annot_B.boxes.maxY,annot_B.boxes.minX,annot_B.boxes.minY,annot_C.boxes.maxX,annot_C.boxes.maxY,annot_C.boxes.minX,annot_C.boxes.minY,avg_box.maxX,avg_box.maxY,avg_box.minX,avg_box.minY
61,4hym2e606d89fcf887b29e7b8b3ebfcc626c8fcf821782...,당황,863.35276,1579.754063,-27.366287,465.803363,863.92376,1591.197063,-29.669287,461.052363,866.53976,1585.717063,-23.264287,462.615363,864.605426,1585.556063,-26.766621,463.15703

In [40]:
df_train_panic.loc[df_train_panic['filename'] == targer_filename_4, ['annot_A.boxes.minX','annot_B.boxes.minX', 'annot_C.boxes.minX', 'avg_box.minX']] = 0

df_train_panic[df_train_panic['filename'] == targer_filename_4]

,filename,faceExp_uploader,annot_A.boxes.maxX,annot_A.boxes.maxY,annot_A.boxes.minX,annot_A.boxes.minY,annot_B.boxes.maxX,annot_B.boxes.maxY,annot_B.boxes.minX,annot_B.boxes.minY,annot_C.boxes.maxX,annot_C.boxes.maxY,annot_C.boxes.minX,annot_C.boxes.minY,avg_box.maxX,avg_box.maxY,avg_box.minX,avg_box.minY
61,4hym2e606d89fcf887b29e7b8b3ebfcc626c8fcf821782...,당황,863.35276,1579.754063,0.0,465.803363,863.92376,1591.197063,0.0,461.052363,866.53976,1585.717063,0.0,462.615363,864.605426,1585.556063,0.0,463.15703

In [41]:
targer_filename_5 = 'esc02c9459e7bbfb0c0afc0b21a0cc50bb2b74f2ac92720d024027914a435amp0.jpg'

df_train_panic[df_train_panic['filename'] == targer_filename_5]

,filename,faceExp_uploader,annot_A.boxes.maxX,annot_A.boxes.maxY,annot_A.boxes.minX,annot_A.boxes.minY,annot_B.boxes.maxX,annot_B.boxes.maxY,annot_B.boxes.minX,annot_B.boxes.minY,annot_C.boxes.maxX,annot_C.boxes.maxY,annot_C.boxes.minX,annot_C.boxes.minY,avg_box.maxX,avg_box.maxY,avg_box.minX,avg_box.minY
182,esc02c9459e7bbfb0c0afc0b21a0cc50bb2b74f2ac9272...,당황,1539.645357,1391.179016,737.967057,233.338616,1537.744357,1391.200016,738.873057,225.601616,1532.809357,1388.531016,740.159057,217.289616,1536.733024,1390.303349,738.999724,225.409949

In [42]:
df_train_panic.loc[df_train_panic['filename'] == targer_filename_5, ['annot_A.boxes.maxY','annot_B.boxes.maxY', 'annot_C.boxes.maxY', 'avg_box.maxY']] = 1288

df_train_panic[df_train_panic['filename'] == targer_filename_5]

,filename,faceExp_uploader,annot_A.boxes.maxX,annot_A.boxes.maxY,annot_A.boxes.minX,annot_A.boxes.minY,annot_B.boxes.maxX,annot_B.boxes.maxY,annot_B.boxes.minX,annot_B.boxes.minY,annot_C.boxes.maxX,annot_C.boxes.maxY,annot_C.boxes.minX,annot_C.boxes.minY,avg_box.maxX,avg_box.maxY,avg_box.minX,avg_box.minY
182,esc02c9459e7bbfb0c0afc0b21a0cc50bb2b74f2ac9272...,당황,1539.645357,1288.0,737.967057,233.338616,1537.744357,1288.0,738.873057,225.601616,1532.809357,1288.0,740.159057,217.289616,1536.733024,1288.0,738.999724,225.409949

In [43]:
targer_filename_6 = 'iysgef1ecd1297c67d58c59c01349b83ed084c0cca35a9a8d8d57ed73a49d29gu.jpg'

df_train_panic[df_train_panic['filename'] == targer_filename_6]

,filename,faceExp_uploader,annot_A.boxes.maxX,annot_A.boxes.maxY,annot_A.boxes.minX,annot_A.boxes.minY,annot_B.boxes.maxX,annot_B.boxes.maxY,annot_B.boxes.minX,annot_B.boxes.minY,annot_C.boxes.maxX,annot_C.boxes.maxY,annot_C.boxes.minX,annot_C.boxes.minY,avg_box.maxX,avg_box.maxY,avg_box.minX,avg_box.minY
663,iysgef1ecd1297c67d58c59c01349b83ed084c0cca35a9...,당황,988.003909,961.319469,293.131809,3.820389,988.264909,954.457469,281.625809,5.682389,1001.111909,956.975469,283.318809,-0.334611,992.460242,957.584136,286.025476,3.056056

In [44]:
df_train_panic.loc[df_train_panic['filename'] == targer_filename_6, ['annot_C.boxes.minY']] = 0

df_train_panic[df_train_panic['filename'] == targer_filename_6]

,filename,faceExp_uploader,annot_A.boxes.maxX,annot_A.boxes.maxY,annot_A.boxes.minX,annot_A.boxes.minY,annot_B.boxes.maxX,annot_B.boxes.maxY,annot_B.boxes.minX,annot_B.boxes.minY,annot_C.boxes.maxX,annot_C.boxes.maxY,annot_C.boxes.minX,annot_C.boxes.minY,avg_box.maxX,avg_box.maxY,avg_box.minX,avg_box.minY
663,iysgef1ecd1297c67d58c59c01349b83ed084c0cca35a9...,당황,988.003909,961.319469,293.131809,3.820389,988.264909,954.457469,281.625809,5.682389,1001.111909,956.975469,283.318809,0.0,992.460242,957.584136,286.025476,3.056056

In [45]:
targer_filename_7 = 'vk2ucc6e73f677af512687da151368a6cfd5856f268b7bc8676677b48ff693lpf.jpg'

df_train_sadness[df_train_sadness['filename'] == targer_filename_7]

,filename,faceExp_uploader,annot_A.boxes.maxX,annot_A.boxes.maxY,annot_A.boxes.minX,annot_A.boxes.minY,annot_B.boxes.maxX,annot_B.boxes.maxY,annot_B.boxes.minX,annot_B.boxes.minY,annot_C.boxes.maxX,annot_C.boxes.maxY,annot_C.boxes.minX,annot_C.boxes.minY,avg_box.maxX,avg_box.maxY,avg_box.minX,avg_box.minY
290,vk2ucc6e73f677af512687da151368a6cfd5856f268b7b...,슬픔,2475.517709,1735.10761,1363.391609,207.80057,2480.320709,1740.08661,1363.956609,222.63357,2475.284709,1719.71561,1360.958609,204.99857,2477.041042,1731.63661,1362.768942,211.810903

In [46]:
df_train_sadness.loc[df_train_sadness['filename'] == targer_filename_7, ['annot_A.boxes.maxY','annot_B.boxes.maxY', 'annot_C.boxes.maxY', 'avg_box.maxY']] = 1528

df_train_sadness[df_train_sadness['filename'] == targer_filename_7]

,filename,faceExp_uploader,annot_A.boxes.maxX,annot_A.boxes.maxY,annot_A.boxes.minX,annot_A.boxes.minY,annot_B.boxes.maxX,annot_B.boxes.maxY,annot_B.boxes.minX,annot_B.boxes.minY,annot_C.boxes.maxX,annot_C.boxes.maxY,annot_C.boxes.minX,annot_C.boxes.minY,avg_box.maxX,avg_box.maxY,avg_box.minX,avg_box.minY
290,vk2ucc6e73f677af512687da151368a6cfd5856f268b7b...,슬픔,2475.517709,1528.0,1363.391609,207.80057,2480.320709,1528.0,1363.956609,222.63357,2475.284709,1528.0,1360.958609,204.99857,2477.041042,1528.0,1362.768942,211.810903

In [47]:
targer_filename_8 = 'vag7dfda5e3b9561fd12c1175d277b1d2c1f22dd2a5d37b3286dd4b3e2d45pili.jpg'

df_train_sadness[df_train_sadness['filename'] == targer_filename_8]

,filename,faceExp_uploader,annot_A.boxes.maxX,annot_A.boxes.maxY,annot_A.boxes.minX,annot_A.boxes.minY,annot_B.boxes.maxX,annot_B.boxes.maxY,annot_B.boxes.minX,annot_B.boxes.minY,annot_C.boxes.maxX,annot_C.boxes.maxY,annot_C.boxes.minX,annot_C.boxes.minY,avg_box.maxX,avg_box.maxY,avg_box.minX,avg_box.minY
994,vag7dfda5e3b9561fd12c1175d277b1d2c1f22dd2a5d37...,슬픔,363.189153,384.818586,0.647463,-100.632774,358.857153,390.153586,-3.404537,-108.095774,361.199153,386.673586,-2.741537,-102.393774,361.08182,387.215253,-1.83287,-103.70744

In [48]:
df_train_sadness.loc[df_train_sadness['filename'] == targer_filename_8, ['annot_A.boxes.minY','annot_B.boxes.minY', 'annot_C.boxes.minY', 'avg_box.minY']] = 0
df_train_sadness.loc[df_train_sadness['filename'] == targer_filename_8, ['annot_B.boxes.minX', 'annot_C.boxes.minX', 'avg_box.minX']] = 0

df_train_sadness[df_train_sadness['filename'] == targer_filename_8]

,filename,faceExp_uploader,annot_A.boxes.maxX,annot_A.boxes.maxY,annot_A.boxes.minX,annot_A.boxes.minY,annot_B.boxes.maxX,annot_B.boxes.maxY,annot_B.boxes.minX,annot_B.boxes.minY,annot_C.boxes.maxX,annot_C.boxes.maxY,annot_C.boxes.minX,annot_C.boxes.minY,avg_box.maxX,avg_box.maxY,avg_box.minX,avg_box.minY
994,vag7dfda5e3b9561fd12c1175d277b1d2c1f22dd2a5d37...,슬픔,363.189153,384.818586,0.647463,0.0,358.857153,390.153586,0.0,0.0,361.199153,386.673586,0.0,0.0,361.08182,387.215253,0.0,0.0

In [49]:
df_train_anger.to_csv(json_path_train + 'train_anger_1.csv')
df_train_happy.to_csv(json_path_train + 'train_happy_1.csv')
df_train_panic.to_csv(json_path_train + 'train_panic_1.csv')
df_train_sadness.to_csv(json_path_train + 'train_sadness_1.csv')